
  <div class="x_panel">
    <div class="x_content row">
      <div class=" col-md-6 col-sm-12 col-xs-12">
        <form class="form-horizontal form-label-left" action="{$actionUrl}" method="post">
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">分类名称：</label>
            <div class="checkbox col-md-8 col-sm-8 col-xs-12">
              <input class="form-control col-md-3 col-xs-12" required="required" type="text" name="form[attr_value_name]" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">排序：</label>
            <div class="checkbox col-md-8 col-sm-8 col-xs-12">
              <input name="form[attr_value_sort]" id="" class="form-control" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">名称拓展：</label>
            <div class="checkbox col-md-8 col-sm-8 col-xs-12">
              <input class="form-control col-md-3 col-xs-12" required="" type="text" name="form[attr_extend]" value="">
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-4 col-sm-offset-4">
            <input name="form[attr_id]" type="hidden" value="{$attr_id}">
            <button class="btn btn-success" type="submit">新建</button>
          </div>
        </form>
      </div>
    </div>
  </div>