<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{'index/index'|U}" class="site_title"><span>点评后台</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="{['index/index','menu_id'=>'index/index']|U}"><i class="fa fa-home"></i>首页<span class="fa fa-chevron-right"></span></a></li>
                <li ><a><i class="fa fa-home"></i>系统账号管理<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu " style="display: none">
                        <li><a href="{['admin/index','menu_id'=>'admin/index']|U}">系统账号管理</a></li>
                        <li><a href="{['role/index','menu_id'=>'role/index']|U}">角色管理</a></li>
                        <li><a href="{['author/index','menu_id'=>'author/index']|U}">权限管理</a></li>
                    </ul>
                </li>
                <li ><a><i class="fa fa-user"></i>用户信息管理<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu " style="display: none">
                        <li><a href="{['investor/index','menu_id'=>'investor/index']|U}">投资人信息管理</a></li>
                        <li><a href="{['company/index','menu_id'=>'company/index']|U}">企业信息管理</a></li>
                        <li><a href="{['investor/pass','menu_id'=>'investor/pass']|U}">投资人认证</a></li>
                        <li><a href="{['company/pass','menu_id'=>'company/pass']|U}">企业认证</a></li>
                    </ul>
                </li>
                <li ><a><i class="fa fa-edit"></i>全局配置<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu " style="display: none">
                        <li><a href="{['category/index','menu_id'=>'category/index']|U}">分类管理</a></li>
                        <li><a href="{['industry/index','menu_id'=>'industry/index']|U}">行业管理</a></li>
                        <li><a href="{['tag/index','menu_id'=>'tag/index']|U}">标签库</a></li>
                    </ul>
                </li>
                <li ><a><i class="fa fa-cloud"></i>点评管理<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu " style="display: none">
                        <li><a href="{['comment/index','menu_id'=>'investor/index']|U}">企业点评管理</a></li>
                    </ul>
                </li>
                <li ><a><i class="fa fa-square"></i>文章管理<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu " style="display: none">
                        <li><a href="{['article/index','menu_id'=>'investor/index']|U}">文章管理</a></li>
                        <li><a href="{['help/index','menu_id'=>'investor/index']|U}">帮助中心</a></li>
                        <li><a href="{['feedback/index','menu_id'=>'investor/index']|U}">用户反馈</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
    </div>
</div>